body,
html {
  height: 100%;
  margin: 0;
  background-color: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#clickMe {
  margin-top: 300px;
  padding: 10px 20px;
  font-size: 16px;
  background-color:saddlebrown;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
